/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body {
	// background: #000; // Fallback for when there is no custom background color defined.
	overflow-x: hidden;
	overflow-y: scroll;
}

@media screen and (min-width: 992px) {
	.viewport {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.scroll-container {
		width: 100%;
		position: absolute;
		overflow: hidden;
		z-index: 10;
		justify-content: center;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		will-change: transform;
	}
}

::selection {
	background: rgba(255, 33, 63, 0.1); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba(255, 33, 63, 0.1); /* Gecko Browsers */
}

.body-loaded {
	background: $color__background-body;
	// display: block !important;
	visibility: visible !important;
}

blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* LINKS */
a {
	color: $color__link;

	&:visited {
		color: initial;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: 0;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* LISTS */

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* TABLES */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Preloader */

.my-preloader {
	height: 100vh;
	position: fixed;
	width: 100vw;
	background: #000;
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in;
	opacity: 1;

	.preloader-content {
		// background: url(../dist/img/branding.png) no-repeat;
		display: block;
		height: 5em;
		width: 5em;
		background-size: contain;
		background-position: center;
		animation: mymove 1.5s infinite;
	}
}

@keyframes mymove {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}

.my-preloader-off {
	opacity: 0;
}

.my-preloader-none {
	display: none;
}

.site {
	transition: all 0.3s ease-in;
	// // display: none;
	opacity: 0;
}

.page-loaded {
	display: block;
	visibility: visible !important;
}

.page-show {
	opacity: 1 !important;
}

.button {
	cursor: pointer;
	border-radius: 15px;
	border-color: transparent;

	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		line-height: 48px;
		background-color: $color__custom-red;
		color: $color__text-white !important;
		text-transform: uppercase;
		padding: 0 30px;
		text-decoration: none;
		@include fluid-type($min_width, $max_width, 14px, 16px);
		font-weight: 800;
		transition: background-color 0.3s ease-in-out,
			right 0.95s cubic-bezier(0.22, 0.61, 0.36, 1);
		width: fit-content;
		min-width: 210px;
		text-align: center;

		@media screen and (min-width: 400px) {
			padding: 0 45px;
		}

		@media screen and (min-width: 992px) {
			height: 56px;
			line-height: 56px;
			padding: 0 60px;
		}

		&:hover {
			background-color: darken($color: $color__custom-red, $amount: 10%);
		}
	}
}

.input {
	height: 48px;
	line-height: 48px;
	background: transparent;
	border-radius: 15px;

	@media screen and (min-width: 992px) {
		height: 56px;
		line-height: 56px;
	}

	&__red-outline {
		border: 2px solid $color__custom-red;
	}
}

.text {
	&__red {
		color: $color__custom-red !important;
	}
}

.font {
	&__red {
		color: $color__custom-red !important;
		-webkit-text-stroke: 2px $color__custom-red !important;
	}
}

.font-outline {
	color: transparent !important;
	-webkit-text-stroke: 1px #000;

	&__red {
		color: transparent !important;
		-webkit-text-stroke: 2px $color__custom-red;
	}
}

.contact-icon {
	width: 48px;
	height: 48px;
	border: 1px solid $color__border-light-grey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 992px) {
		width: 56px;
		height: 56px;
	}

	&__phone {
		// content: url(../dist/svg/phone.svg);
		padding: 0.75em;
	}

	&__email {
		// content: url(../dist/svg/envelope.svg);
		padding: 0.75em;
	}

	&__instagram {
		padding: 0.75em;
		position: relative;

		&__circle {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 90%;
			width: 90%;
			background-position: center;
			margin: auto;
		}

		&__small-circle {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 6px;
			width: 6px;
			position: absolute;
			top: 6px;
			right: 6px;
		}

		display: flex;
	}

	&__facebook {
		// content: url(../dist/svg/facebook.svg);
		padding: 0.75em;
	}

	&__linkedin {
		// content: url(../dist/svg/linkedin.svg);
		padding: 0.75em;
	}
}

.text-reveal {
	&__bottom {
		opacity: 1 !important;
		transform: translateY(0) !important;
	}
}

.square-box {
	background: transparent;
	border: 2px solid;
	height: 48px !important;
	width: 48px !important;
	border-radius: 5px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;

	@media screen and (min-width: 992px) {
		height: 56px !important;
		width: 56px !important;
	}

	&__black {
		border-color: #000;

		.chevron:before,
		.chevron:after {
			background: #000;
		}
	}

	&__light-grey {
		border-color: $color__border-light-grey;

		.chevron:before,
		.chevron:after {
			background: $color__border-light-grey;
		}
	}
}

.chevron-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	margin: auto;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 2px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: " ";
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
}

.chevron:before {
	left: 3px;
	transform: rotate(45deg);
}

.chevron:after {
	right: 2px;
	width: 50%;
	transform: rotate(-45deg);
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(20px);
	}
	67% {
		opacity: 1;
		transform: translateY(30px);
	}
	100% {
		opacity: 0;
		transform: translateY(45px) scale3d(0.5, 0.5, 0.5);
	}
}

.mobile-only {
	@media screen and (min-width: 1200px) {
		display: none !important;
	}
}

.desktop-only {
	@media screen and (max-width: 1200px) {
		display: none !important;
	}
}

.swiper-lightbox {
	height: 75vh;
	width: 90%;
	margin: auto;

	@media screen and (min-width: 992px) {
		// height: 600px;
		width: 800px;
	}

	.swiper-slide {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.close-lightbox {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 40px;
	z-index: 999;
	background-image: url(../dist/svg/close_button.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.5s ease-in;
}

.basicLightbox {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0.01;
	transition: opacity 0.4s ease;
	z-index: 1000;
	will-change: opacity;
}
.basicLightbox--visible {
	opacity: 1;
}
.basicLightbox__placeholder {
	max-width: 100%;
	transform: scale(0.9);
	transition: transform 0.4s ease;
	z-index: 1;
	will-change: transform;

	.product-wrapper {
		padding: 2em;
	}

	p {
		color: white;
		text-align: center;
	}
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 95%;
	max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
	pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
	width: auto;
	height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
	transform: scale(1);
}

.close-lightbox {
	cursor: pointer;
	position: absolute;
	top: 0em;
	right: 1em;
	display: block;
	width: 40px;
	height: 40px;
	z-index: 999;
	background-image: url(../dist/svg/close_button.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.5s ease-in;

	@media screen and (min-width: 992px) {
		top: 0em;
		right: 0em;
	}
}
