/* MENUS */
.main-navigation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	// min-height: 100vh; //fallback
	// min-height: calc(
	// 	var(--fullVH)
	// ); // height depends on browsers panel on the top

	min-height: 100vh;
	height: 100%;
	height: -webkit-fill-available;
	width: 100%;
	transform: translateX(200%);
	transition: 0.8s ease-in-out;
	background: $color__background__dark;
	display: none;
	flex-flow: column;
	justify-content: space-around;

	padding: 30% 0 3em;

	overflow-x: hidden;

	@media screen and (orientation: landscape) {
		padding: 5% 0 3em;
	}

	@media screen and (max-width: 992px) {
		overflow-y: scroll;
	}

	@media screen and (min-width: 768px) {
		padding: 20% 0% 10%;
		justify-content: space-between;

		.menu {
			padding: 0 15%;
		}
	}

	@media screen and (min-width: 992px) {
		padding: 10% 0% 5%;
	}

	@media screen and (min-width: 992px) and (max-width: 1025px) and (orientation: portrait) {
		padding: 30% 0% 10%;
	}

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&--open {
		transform: translateX(0%);
	}

	&__additional {
		padding: 0 3em;
		display: flex;
		justify-content: flex-end;

		// @media screen and (max-width: 400px) {
		// 	padding: 0 1em;
		// }

		@media screen and (min-width: 1200px) {
			flex-flow: row-reverse;
			justify-content: initial;
		}
	}

	&__for-ipad {
		// padding: 0;

		justify-content: space-between;

		@media screen and (orientation: portrait) {
			flex-flow: column;

			.button {
				margin-bottom: 3em;
			}
		}

		padding: 0 15%;
	}

	&__icons {
		display: flex;

		.contact-icon {
			transition: all 0.3s ease-in-out;

			// &:hover {
			// 	transform: scale(1.1);
			// }

			@media screen and (max-width: 712px) {
				display: none;

				&__phone,
				&__email {
					display: block;
				}
			}

			@media screen and (min-width: 712px) {
				margin-right: 1.5em;
			}

			@media screen and (min-width: 1200px) {
				margin-right: 3.5em;
			}

			&__phone {
				@media screen and (max-width: 992px) {
					margin-right: 1.5em;
				}

				@media screen and (max-width: 360px) {
					margin-right: 1em;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

ul.menu {
	list-style: none;
	padding: 0 0 1.5em 3em;
	margin: 0;

	@media screen and (min-width: 992px) {
		padding: 0;
	}

	.menu-item {
		overflow: hidden;

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: $color__text-white;
			font-weight: 800;
			line-height: 50px;
			@include fluid-type($min_width, $max_width, 28px, 52px);
			display: block;
			width: fit-content;
			background: $color__background__dark;
			box-shadow: 0px 0px 25px 18px rgba(22, 22, 22, 1);
			margin: 0 0.25em;
			letter-spacing: 2px;
			opacity: 0;
			transition: transform 1.25s ease-in-out, opacity 1.25s ease-in-out;
			transform: translateY(5em);

			@media screen and (max-width: 340px) {
				@include fluid-type($min_width, $max_width, 22px, 24px);
				line-height: 45px;
			}
		}

		.font-outline {
			&__red {
				-webkit-text-stroke: 2px $color__custom-red;
			}
		}

		&--first-letter {
			-webkit-text-stroke: 2px $color__text-white;
			transition: -webkit-text-stroke 0.2s ease-in-out, color 0.2s ease-in-out;
		}

		&--no-first-letter {
			-webkit-text-stroke: 2px $color__text-white;
			transition: -webkit-text-stroke 0.2s ease-in-out, color 0.2s ease-in-out;
		}
	}

	.text-multiplied {
		position: absolute;
		left: 0;
		width: 100vw;
		white-space: nowrap;
		color: $color__custom-red;
		z-index: -1;
		@include fluid-type($min_width, $max_width, 9px, 12px);
		opacity: 0;
		transition: all 1s ease-in-out;
		animation: revealMultipliedText 1s forwards;
		transform-origin: center center;
		transform: translateY(var(--text-multiplied-position-translate));

		@keyframes revealMultipliedText {
			0% {
				opacity: 0;
				// transform: translateY(var(--text-multiplied-position-translate))
				// 	rotateX(-120deg);
			}

			80% {
				opacity: 1;
			}

			100% {
				opacity: 1;
				// transform: translateY(var(--text-multiplied-position-translate))
				// 	rotateX(0deg);
			}
		}
	}

	li {
		cursor: pointer;

		@media screen and (min-width: 768px) {
			margin-bottom: 29px;
		}
	}
}
