/* POSTS AND PAGES */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

section {
	overflow: hidden;

	@media screen and (max-width: 992px) {
		min-height: calc(var(--fullVH));
	}

	@media screen and (min-width: 992px) {
		min-height: calc(var(--fullVH));
	}

	& > * {
		padding: 0 3rem;

		@media screen and (min-width: 992px) {
			padding: 0 10rem;
		}
	}
}

.page-template-home-page-template {
	.site-content {
		padding-top: 5.5rem;
		padding-top: var(--header-height);

		@media screen and (min-width: 992px) {
			padding-top: 0;
			margin-top: 5.5rem;
			margin-top: var(--header-height);
		}
	}
}

.welcome-view {
	// padding-top: var(--header-height);
	position: relative;

	@media screen and (min-width: 992px) {
		padding-top: 0;
		// margin-top: var(--header-height);
		height: calc(100vh - 5.5rem);
		height: calc(100vh - var(--header-height));
		min-height: auto;
	}

	background: $color__background__light-grey;

	&__content {
		height: 100%;
		display: grid;
		justify-content: center;
		padding-top: 3em;

		grid-template-rows: 1fr 1fr 1fr 1fr;

		@media screen and (min-width: 992px) {
			grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 1fr;
			grid-template-columns: 2fr 2.35fr;
		}

		& > * {
			height: 100%;
			width: 100%;
		}
	}

	&__titles {
		text-align: center;
		padding: 0 0.5em;

		@media screen and (max-width: 992px) {
			max-width: 400px;
			margin: auto;
		}

		@media screen and (min-width: 400px) {
			padding: 0 1em;
		}

		@media screen and (min-width: 992px) {
			text-align: inherit;
			padding: 0;

			grid-column-start: 1;
			grid-row-start: 2;
			grid-row-end: 2;

			display: flex;
			flex-flow: column;
			justify-content: flex-end;

			h1:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__description {
		text-align: center;
		padding: 0 0.5em;
		display: flex;
		justify-content: center;
		margin-bottom: 0.67em;

		@media screen and (min-width: 400px) {
			padding: 0 1em;
		}

		@media screen and (min-width: 992px) {
			text-align: inherit;
			padding: 0;

			grid-column-start: 1;
			grid-row-start: 3;
			grid-row-end: 3;
		}

		p {
			margin: auto;

			@media screen and (min-width: 992px) {
				margin: 1em auto;
			}
		}
	}

	&__images {
		margin-bottom: 0.67em;

		@media screen and (min-width: 992px) {
			grid-column-start: 2;
			grid-row-start: 2;
			grid-row-end: 5;
		}

		.ipad-image,
		.content-image {
			background-size: contain;
			background-position: center;
		}

		.ipad-image {
			height: 100%;
			// height: 160px;
			// padding: 0.4em;

			// @media screen and (min-width: 992px) {
			// 	height: 100%;
			// 	padding: 8%;
			// }
			position: relative;
		}

		.content-image {
			position: absolute;
			height: 90%;
			width: 85%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__cta-wrapper {
		display: flex;
		justify-content: center;

		@media screen and (min-width: 992px) {
			grid-column-start: 1;
			grid-row-start: 4;
			grid-row-end: 4;

			justify-content: initial;
		}

		.button__cta {
			margin: 1em auto;

			@media screen and (min-width: 992px) {
				margin: initial;
			}
		}
	}

	//common padding for desktop

	@media screen and (min-width: 992px) {
		&__titles,
		&__description,
		&__cta-wrapper {
			padding-right: 5em;
		}
	}

	&__scroll-down {
		position: absolute;
		left: 50%;
		bottom: 1.5em;
		transform: translateX(-50%);

		@media screen and (max-width: 992px) {
			display: none;
		}
	}
}

.advantages {
	background: $color__background__light;

	&__content {
		text-align: center;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: column;

		padding-top: 5em;
		padding-bottom: 3em;

		@media screen and (min-width: 992px) {
			padding: 0 5%;
			padding-top: 10%;
			padding-bottom: 10%;
		}
	}

	&__title {
		margin-bottom: 5em;

		@media screen and (min-width: 992px) {
			margin-bottom: 8em;
		}

		h1 {
			margin-bottom: 0;

			@media screen and (min-width: 992px) {
				br {
					display: none;
				}
			}
		}
	}

	&__wrapper {
		@media screen and (min-width: 992px) {
			display: flex;
		}
	}

	.single-advantage {
		cursor: pointer;
		margin-bottom: 3em;

		@media screen and (min-width: 992px) {
			width: 33%;

			padding: 6em 5em 4em;

			&:nth-of-type(2) {
				border: 2px solid #000;
				border-top: none;
				border-bottom: none;

				padding: 6em 5em 4em 5em;
			}
		}

		&__title {
			position: relative;
			height: 1.25em;

			@media screen and (min-width: 992px) {
				height: 3em;
			}
		}

		h1 {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			@media screen and (max-width: 992px) {
				@include fluid-type($min_width, $max_width, 26px, 26px);
			}
		}

		.font-outline {
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			.font-outline {
				-webkit-text-stroke: 1px $color__custom-red;
			}
		}

		&__svg-holder {
			margin-bottom: 1em;

			.mobile-only,
			.desktop-only {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.center-point {
	background: $color__background__light-grey;

	&__content {
		@media screen and (max-width: 1200px) {
			padding: 0 0em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: column;
			padding-top: 5em;
			padding-bottom: 3em;
		}

		@media screen and (min-width: 1200px) {
			padding-top: 10%;
			padding-bottom: 10%;
			display: grid;
			grid-template-rows: 5% 5% 10% 10% 10% 10% 10% 10% 15%;
			grid-template-columns: 40% 60%;
		}
	}

	.mobile-only {
		width: 180px;
		height: 180px;
	}

	.desktop-only {
		width: 260px;
		height: 260px;
	}

	&__title {
		h1 {
			text-align: center;
			margin-bottom: 4rem;
			white-space: nowrap;

			@media screen and (min-width: 1200px) {
				text-align: initial;
				margin-bottom: 0rem;
			}
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 2;
			grid-row-end: 2;
			grid-column-start: 1;
		}

		// margin-bottom: 3em;
	}

	&__description {
		@media screen and (max-width: 1200px) {
			padding: 0 3em;
			text-align: center;
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 4;
			grid-row-end: 6;
			grid-column-start: 1;

			p {
				margin-top: 0;
				padding-right: 1em;
			}
		}

		@media screen and (min-width: 1400px) {
			padding-right: 3em;
		}
	}

	&__circle-element {
		position: relative;
		width: 100%;
		// overflow: hidden;
		overflow: visible;

		p {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			font-weight: 800;

			line-height: 1em;
			color: $color__custom-red;
			@include fluid-type($min_width, $max_width, 18px, 20px);

			@media screen and (max-width: 1200px) {
				text-align: center;
			}

			@media screen and (min-width: 1200px) {
				@include fluid-type($min_width, $max_width, 19px, 21px);
			}
		}

		.font-outline__red {
			@include fluid-type($min_width, $max_width, 22px, 24px);

			@media screen and (min-width: 1200px) {
				@include fluid-type($min_width, $max_width, 26px, 30px);
			}
		}

		.svg-holder {
			position: relative;
			display: flex;
			justify-content: center;
			width: fit-content;
			margin: auto;
			transition: all 1s ease-in-out;
			cursor: pointer;
		}

		text {
			font-size: 7px;
			text-transform: uppercase;
			fill: #000;
			letter-spacing: 2px;
			transition: all 0.5s ease-in-out;
		}
	}

	.circle-animations {
		transform: scale(1.2);

		text {
			fill: $color__custom-red;
		}

		svg {
			animation-name: rotate;
			animation-duration: 25s;
			animation-iteration-count: forwards;
			animation-timing-function: linear;
		}

		@keyframes rotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}

	&__structure {
		position: relative;
		margin-bottom: 5em;
		text-align: center;

		width: 310px;
		height: 310px;

		@media screen and (min-width: 360px) {
			width: 360px;
			height: 360px;
		}

		margin: auto;

		@media screen and (min-width: 1200px) {
			grid-row-start: 1;
			grid-row-end: 6;
			grid-column-start: 2;
			width: 650px;
			height: 650px;
		}

		p {
			text-transform: uppercase;
			width: fit-content;
			margin: 0 auto;
		}

		& > * {
			position: absolute;
			top: 50%;
			left: 50%;

			transition: all 1s ease-in-out;
			opacity: 0;
			will-change: transform, opacity;

			transform: translate(-50%, -50%) scale(0.75);

			@media screen and (min-width: 360px) {
				transform: translate(-50%, -50%) scale(0.85);
			}

			@media screen and (min-width: 992px) {
				transform: translate(-50%, -50%);
			}
		}
	}

	.distributors__holder.animated {
		top: 17%;
		opacity: 1;
	}

	.clinics__holder.animated {
		opacity: 1;
	}

	.fabrication__holder.animated {
		top: 70%;
		left: 24%;
		opacity: 1;
	}

	.manufacturers__holder.animated {
		top: 70%;
		left: 76%;
		opacity: 1;
	}
}

.how-does-it-work {
	background: $color__background__light;

	@media screen and (max-width: 1200px) {
		height: 100%;
	}

	@media screen and (min-width: 1200px) {
		height: calc(var(--fullVH) + 10 * (var(--vh)));
	}

	.svg-path-holder {
		display: flex;
		// overflow: hidden;
		width: fit-content;
		position: relative;
	}

	.svg-path-cover {
		position: absolute;
		height: 100%;
		width: 100%;
		// border-radius: 100px;
		display: block;
		position: absolute;
		background: $color__background__light;
		top: 0%;
		transition-property: top;
		transition-duration: 1s;
		transition-timing-function: linear;

		@media screen and (max-width: 1200px) {
			min-width: 300px;
			left: -50px;
		}

		&--2 {
			// transition-property: top, left;
			// transition-duration: 1s, 1s;
			// transition-delay: 1s, 1s;
			// left: 0;

			@media screen and (max-width: 1200px) {
				transition-delay: 1s;
			}

			@media screen and (min-width: 1200px) {
				animation-delay: 1s;
			}
		}

		&--3 {
			transition-duration: 1s;
			transition-delay: 2s;
			width: 309px;
			left: -140px;

			@media screen and (min-width: 1200px) {
				left: -240px;
			}

			// animation-delay: 2s;
		}

		&--4 {
			transition-property: top, left;
			transition-duration: 2s, 1s;
			transition-delay: 2.75s, 2.75s;
			width: 400px;
			left: -509px;
		}
	}

	&--in-viewport {
		.svg-path-cover {
			top: 100%;

			&--2 {
				@media screen and (min-width: 1200px) {
					animation-name: slideCoverRightDown;
					animation-timing-function: linear;
					animation-fill-mode: both;
					animation-duration: 1s;

					@keyframes slideCoverRightDown {
						0% {
							top: 0%;
							left: 0;
						}

						100% {
							top: 100%;
							left: 100px;
						}
					}
				}
			}

			// &--3 {
			// 	@media screen and (min-width: 992px) {
			// 		animation-name: slideCoverLeftDown;
			// 		animation-timing-function: linear;
			// 		animation-fill-mode: both;
			// 		animation-duration: 1s;

			// 		top: 0;

			// 		@keyframes slideCoverLeftDown {
			// 			0% {
			// 				top: 0%;
			// 				left: -240px;
			// 			}

			// 			50% {
			// 				top: 50%;
			// 				left: -240px;
			// 			}

			// 			100% {
			// 				top: 50%;
			// 				left: -680px;
			// 			}
			// 		}
			// 	}
			// }

			&--4 {
				@media screen and (min-width: 992px) {
					top: 100%;
					left: -509px;
				}
			}
		}
	}

	&__content {
		@media screen and (max-width: 1200px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: column;
			padding: 0 2em;
			padding-top: 5em;
			padding-bottom: 3em;
		}

		@media screen and (min-width: 1200px) {
			// padding-top: 10%;
			// padding-bottom: 10%;
			padding: 0;
			height: 100%;
			display: grid;
			grid-template-rows: 10% 10% 12% 10% 10% 10% 10% 10% 10% 10%;
			grid-template-columns: 2fr 2.35fr;
		}
	}

	&__title {
		h1 {
			text-align: center;

			@media screen and (min-width: 1200px) {
				text-align: initial;
				padding-left: 10rem;
			}
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 3;
			grid-column-start: 1;
		}
	}

	&__structure {
		width: 100%;

		&--mobile {
			@media screen and (min-width: 1200px) {
				display: none;
			}

			@media screen and (max-width: 400px) {
				transform: scale(0.8) translate(-25px, -100px);
			}

			&__wrapper {
				@media screen and (min-width: 600px) {
					width: fit-content;
					margin: auto;
				}
			}
		}

		&--desktop {
			@media screen and (max-width: 1200px) {
				display: none;
			}

			display: flex;
			flex-flow: column;
		}

		margin-bottom: 5em;
		text-align: center;
		margin: auto;

		@media screen and (min-width: 1200px) {
			grid-row-start: 1;
			grid-column-start: 2;
			width: 650px;
		}

		.step {
			@media screen and (max-width: 1200px) {
				width: fit-content;
			}

			&__box {
				text-align: left;
				z-index: 1;

				p {
					text-transform: uppercase;
					width: fit-content;
					margin: 0;
					// color: $color__custom-red;
					line-height: 1;
					margin-bottom: 0.5em;

					&:nth-of-type(1) {
						@include fluid-type($min_width, $max_width, 14px, 16px);
						font-weight: 600;
					}

					&:nth-of-type(2) {
						@include fluid-type($min_width, $max_width, 18px, 20px);
						font-weight: 800;
					}
				}
			}

			&__svgs {
				display: flex;
			}

			&__icon {
				z-index: 1;
			}

			&__path {
				path {
					stroke: $color__custom-red;
				}
			}
		}

		// .filled-with-color {
		// 	stroke: $color__custom-red;
		// }

		.step-01 {
			@media screen and (min-width: 1200px) {
				transform: translate(141px, -117px);
			}

			.step__path {
				margin-top: 35px;
				margin-left: -19px;

				@media screen and (min-width: 1200px) {
					margin-top: 74px;
					margin-left: -1px;
				}
			}
		}

		.step-02 {
			margin-left: 30px;

			@media screen and (min-width: 1200px) {
				margin-left: 0px;
				transform: translate(333px, -117px);
			}

			&--icon-step-box-wrapper {
				display: flex;
			}

			.step__icon {
				margin-right: 1em;
			}

			.step__svgs {
				flex-flow: column;
			}

			.step__path {
				margin-top: -4px;
				margin-left: -17px;

				@media screen and (min-width: 1200px) {
					margin-top: -4px;
					margin-left: -217px;
				}
			}
		}

		.step-03 {
			transform: translateX(220px);
			margin-top: -85px;
			margin-left: -42px;

			@media screen and (min-width: 1200px) {
				transform: translate(48px, -250px);
				margin-top: 0;
				margin-left: 0;
			}

			.step__path {
				margin-left: -108px;
				margin-top: 35px;

				@media screen and (min-width: 1200px) {
					// margin-left: -391px;
					// margin-top: -12px;

					margin-left: -375px;
					margin-top: 74px;
				}
			}
		}

		.step-04 {
			width: fit-content;
			transform: translate(70px, -100px);
		}
	}

	&__description {
		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3em;
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 4;
			grid-column-start: 1;

			padding-left: 10rem;

			p {
				padding-right: 3em;
			}
		}
	}

	.additional-icons {
		grid-row-start: 8;
		padding-left: 10rem;
		z-index: 1;

		@media screen and (min-width: 1500px) {
			grid-row-start: 9;
		}

		svg {
			margin-right: 50px;
			margin-bottom: 50px;
		}
	}

	.button {
		z-index: 1;
	}

	.button__cta.mobile-only {
		@media screen and (max-width: 400px) {
			margin-top: -100px;
		}
	}
}

.how-ai {
	background: $color__background__light-grey;

	&__content {
		@media screen and (max-width: 1200px) {
			padding: 0 0em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: column;
			padding: 0 3em;
			padding-top: 5em;
			padding-bottom: 3em;
		}

		@media screen and (min-width: 1200px) {
			padding-top: 10%;
			padding-bottom: 10%;
			display: grid;
			grid-template-rows: 5% 5% 10% 10% 10% 10% 10% 10% 15%;
			grid-template-columns: 45% 55%;
		}
	}

	&__title {
		h1 {
			text-align: center;

			@media screen and (max-width: 1200px) {
				margin-bottom: 5em;
			}

			@media screen and (max-width: 1375px) {
				br {
					display: none;
				}
			}

			@media screen and (min-width: 1200px) {
				text-align: initial;
			}
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 1;
			grid-column-start: 1;
		}
	}

	&__structure {
		text-align: center;
		margin: auto;
		margin-bottom: 9em;

		@media screen and (min-width: 1200px) {
			grid-row-start: 2;
			grid-row-end: 6;
			grid-column-start: 2;
			width: 650px;
			margin-bottom: 0;
			height: 100%;
		}

		&__wrapper {
			height: 214px;
			width: 214px;
			margin: auto;
			position: relative;
			transition: all 0.5s ease-in-out;
			transform: translate(0%, 200%);
			opacity: 0;

			@media screen and (min-width: 1200px) {
				height: 300px;
				width: 300px;
			}

			@media screen and (min-width: 1600px) {
				height: 497px;
				width: 497px;
			}

			div,
			svg {
				transition: all 0.5s ease-in-out;
			}
		}

		&__wrapper--animate {
			$wrapper-animation-length: 1s;
			animation: slideUp 1s forwards;

			div {
				animation: slideUpLeftMobile 1s forwards;
				animation-delay: 1s;

				@media screen and (min-width: 992px) {
					animation: slideDownRightDesktop 1s forwards;
					animation-delay: 1s;
				}
			}

			svg {
				animation: slideDownRightMobile 1s forwards;
				animation-delay: 1s;

				@media screen and (min-width: 992px) {
					animation: slideUpLeftDesktop 1s forwards;
					animation-delay: 1s;
				}
			}
		}

		@keyframes slideUp {
			0% {
				transform: translate(0%, 200%);
				opacity: 0;
			}

			100% {
				transform: translate(0%, 0%);
				opacity: 1;
			}
		}

		@keyframes slideDownRightMobile {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(25px, 25px);
			}
		}

		@keyframes slideUpLeftMobile {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(-25px, -25px);
			}
		}

		@keyframes slideDownRightDesktop {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(40px, 40px);
			}
		}

		@keyframes slideUpLeftDesktop {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(-40px, -40px);
			}
		}

		p {
			text-transform: uppercase;
			width: fit-content;
			margin: 0 auto;
		}
	}

	&__images-holder {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;

		div {
			border-radius: 20px;
			width: 100%;
			height: 100%;
			background-size: contain;
			position: absolute;

			@media screen and (min-width: 992px) {
				border-radius: 40px;
			}
		}
	}

	svg {
		position: absolute;
		left: 0;
		top: 0;
	}

	&__description {
		@media screen and (max-width: 1200px) {
			text-align: center;
		}

		@media screen and (min-width: 1200px) {
			grid-row-start: 4;
			grid-row-end: 6;
			grid-column-start: 1;
		}

		p {
			margin-top: 0;

			@media screen and (max-width: 992px) {
				margin-bottom: 3em;
			}

			@media screen and (min-width: 992px) {
				padding-right: 3em;
			}
		}
	}

	.button__cta {
		@media screen and (max-width: 1200px) {
			margin: auto;
		}
	}
}

.page-template-home-page-template .home-products {
	color: $color__text-white;
	background: $color__background__dark;
	height: auto;
	padding-bottom: 10rem;

	&__content {
		height: 100%;
		padding: 0;

		&--upper {
			max-width: 600px;
			margin: auto;
			text-align: center;

			padding: 6em 1em 2em;

			@media screen and (min-width: 992px) {
				padding: 6em 1em;
			}
		}

		.button__cta {
			margin: auto;
		}

		.desktop-only {
			@media screen and (max-width: 992px) {
				display: none;
			}
		}

		.mobile-only {
			@media screen and (min-width: 992px) {
				display: none;
			}
		}

		&--grid {
			display: grid;
			min-height: 120vh;

			grid-template-columns: 10% 20% 30% 15% 25%;
			grid-template-rows: 27.5% 12.5% 17.5% 10% 5%;
			border-top: 2px solid $color__grid-line;
			border-bottom: 2px solid $color__grid-line;

			margin: 30px 0 100px;

			@media screen and (min-width: 992px) {
				height: 100%;
				grid-template-columns: 0.35fr 0.75fr 1fr 0.75fr;
				grid-template-rows: 0.75fr 0.75fr 0.35fr 0.25fr 0.75fr;

				margin: 30px 0;
			}

			img {
				object-fit: contain;
			}

			.line {
				width: 2px;
				z-index: 1;
				position: relative;
				background-color: $color__grid-line;

				&__vertical {
					width: 2px;
					height: 100%;
				}

				&__horizontal {
					width: 100%;
					height: 2px;
				}

				&--vertical-1 {
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 7;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				&--vertical-2 {
					grid-column-start: 4;
					grid-column-end: 4;
					grid-row-start: 1;
					grid-row-end: 2;

					@media screen and (min-width: 992px) {
						grid-column-start: 4;
						grid-column-end: 4;
						grid-row-start: 1;
						grid-row-end: 6;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				//--vertical-3 is mobile-only

				&--vertical-3 {
					grid-column-start: 5;
					grid-column-end: 5;
					grid-row-start: 6;
					grid-row-end: 6;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				&--horizontal-1 {
					@media screen and (max-width: 992px) {
						display: none;
					}

					@media screen and (min-width: 992px) {
						grid-column-start: 3;
						grid-column-end: 5;
						grid-row-start: 2;
						grid-row-end: 2;
					}
				}

				&--horizontal-2 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 2;
					grid-row-end: 2;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 4;
						grid-row-start: 3;
						grid-row-end: 3;
					}
				}

				&--horizontal-3 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 4;
					grid-row-end: 4;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 4;
						grid-row-start: 5;
						grid-row-end: 5;
					}
				}

				&--horizontal-4 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 6;
					grid-row-end: 6;

					@media screen and (min-width: 992px) {
						grid-column-start: 4;
						grid-column-end: 4;
						grid-row-start: 4;
						grid-row-end: 4;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						left: -30px;
					}
				}
			}

			.product-holder {
				display: flex;
				padding: 25px;
				border-radius: 25px;
				z-index: 1;
				position: relative;
				will-change: transform, opacity;
				cursor: pointer;

				.product-wrapper {
					display: flex;
				}

				.image-holder {
					display: flex;
					height: 100%;
					width: 100%;
					border-radius: 25px;
					overflow: hidden;
				}

				p {
					position: absolute;

					@include fluid-type($min_width, $max_width, 14px, 18px);

					@media screen and (min-width: 1200px) {
						@include fluid-type($min_width, $max_width, 14px, 20px);
					}

					margin: 0;
				}
			}

			.red-rectangle {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 2;
				background-color: $color__custom-red;
				border-radius: 25px;
				padding: 0;
				opacity: 0;

				transform: translateX(-200%);

				@media screen and (min-width: 992px) {
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 3;
				}

				p {
					right: -5em;
					// bottom: 5em;
					bottom: 0em;
					opacity: 0;
					transform: rotate(-90deg);
				}
			}

			.red-rectangle.animate-product {
				animation: productSlideLeftRed 1s forwards;

				@keyframes productSlideLeftRed {
					0% {
						transform: translateX(200%);
						opacity: 0;
					}

					90% {
						transform: translateX(0);
						opacity: 1;
					}

					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}

				p {
					animation: productTitleSlideUpRed 1s forwards;
					animation-delay: 1s;

					@keyframes productTitleSlideUpRed {
						0% {
							bottom: 0em;
							opacity: 0;
						}

						90% {
							bottom: 5em;
							opacity: 1;
						}

						100% {
							bottom: 5em;
							opacity: 1;
						}
					}
				}
			}

			.model-x3 {
				grid-column-start: 2;
				grid-column-end: 5;
				grid-row-start: 6;
				grid-row-end: 6;

				opacity: 0;
				transform: translateX(200%);

				@media screen and (max-width: 992px) {
					background-color: #96b9c5;
				}

				@media screen and (min-width: 992px) {
					grid-column-start: 4;
					grid-column-end: 4;
					grid-row-start: 2;
					grid-row-end: 4;
				}

				p {
					opacity: 0;
					@media screen and (max-width: 992px) {
						right: -6em;
						bottom: 5em;
						transform: rotate(-90deg);
					}

					@media screen and (min-width: 992px) {
						top: -2em;
						left: 1em;
					}
				}
			}

			.model-x3.animate-product {
				animation: productSlideRightX3 1s forwards;

				@media screen and (min-width: 992px) {
					animation-delay: 0.5s;
				}

				@keyframes productSlideRightX3 {
					0% {
						transform: translateX(200%);
						opacity: 0;
					}

					90% {
						transform: translateX(0);
						opacity: 1;
					}

					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}

				p {
					@media screen and (max-width: 992px) {
						animation: productTitleSlideUpX3Mobile 1s forwards;
						animation-delay: 1s;
					}

					@media screen and (min-width: 992px) {
						animation: productTitleSlideUpX3Desktop 1s forwards;
						animation-delay: 1.5s;
					}

					@keyframes productTitleSlideUpX3Mobile {
						0% {
							right: -6em;
							bottom: -5em;
							opacity: 0;
						}

						90% {
							right: -6em;
							bottom: 5em;
							opacity: 1;
						}

						100% {
							right: -6em;
							bottom: 5em;
							opacity: 1;
						}
					}

					@keyframes productTitleSlideUpX3Desktop {
						0% {
							top: 2em;
							left: 1em;
							opacity: 0;
						}

						90% {
							top: -2em;
							left: 1em;
							opacity: 1;
						}

						100% {
							top: -2em;
							left: 1em;
							opacity: 1;
						}
					}
				}
			}

			.model-sail {
				grid-column-start: 1;
				grid-column-end: 1;
				grid-row-start: 3;
				grid-row-end: 5;
				background: #cae1e9;
				display: block;
				padding: 0;

				transform: translateY(100%);
				opacity: 0;

				@media screen and (max-width: 992px) {
					display: none;
				}

				p {
					right: 0.5em;
					bottom: -2.5em;
					opacity: 0;
				}
			}

			.model-sail.animate-product {
				animation: productSlideUpSmall 1s forwards;

				@keyframes productSlideUpSmall {
					0% {
						transform: translateY(100%);
						opacity: 0;
					}

					90% {
						transform: translateY(0);
						opacity: 1;
					}

					100% {
						transform: translateY(0);
						opacity: 1;
					}
				}

				p {
					animation: productTitleSlideUpSmall 1s forwards;
					animation-delay: 1s;

					@keyframes productTitleSlideUpSmall {
						0% {
							right: -2.5em;
							bottom: -2.5em;
							opacity: 0;
						}

						90% {
							right: 0.5em;
							bottom: -2.5em;
							opacity: 1;
						}

						100% {
							right: 0.5em;
							bottom: -2.5em;
							opacity: 1;
						}
					}
				}
			}

			.model-white {
				grid-column-start: 3;
				grid-column-end: 6;
				grid-row-start: 2;
				grid-row-end: 5;

				opacity: 0;
				transform: translateX(-200%);

				@media screen and (min-width: 992px) {
					background-color: #96b9c5;
					padding: 60px;
					grid-column-start: 3;
					grid-column-end: 3;
					grid-row-start: 4;
					grid-row-end: 6;
				}

				p {
					opacity: 0;

					@media screen and (max-width: 992px) {
						right: -3em;
						bottom: 3rem;
					}

					@media screen and (min-width: 992px) {
						right: -5em;
						top: 4em;
						transform: rotate(-90deg);
					}
				}
			}

			.model-white.animate-product {
				animation: productSlideUpWhite 1s forwards;

				@keyframes productSlideUpWhite {
					0% {
						transform: translateX(-200%);
						opacity: 0;
					}

					90% {
						transform: translateX(0);
						opacity: 1;
					}

					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}

				p {
					@media screen and (max-width: 992px) {
						animation: productTitleSlideUpWhiteMobile 1s forwards;
						animation-delay: 1s;
					}

					@media screen and (min-width: 992px) {
						animation: productTitleSlideUpWhiteDesktop 1s forwards;
						animation-delay: 1s;
					}

					@keyframes productTitleSlideUpWhiteMobile {
						0% {
							right: -3em;

							opacity: 0;
						}

						90% {
							right: 3em;

							opacity: 1;
						}

						100% {
							right: 3em;
							opacity: 1;
						}
					}

					@keyframes productTitleSlideUpWhiteDesktop {
						0% {
							right: -5em;
							top: 8em;
							opacity: 0;
						}

						90% {
							right: -5em;
							top: 4em;
							opacity: 1;
						}

						100% {
							right: -5em;
							top: 4em;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* Products Page */

.page-template-products-page-template {
	background: $color__background__dark;

	.mobile-only {
		@media screen and (min-width: 992px) {
			display: none !important;
		}
	}

	.desktop-only {
		@media screen and (max-width: 992px) {
			display: none !important;
		}

		@media screen and (min-width: 992px) {
			display: block !important;
		}
	}
}

.page-template-products-page-template .products {
	color: $color__text-white;
	background: $color__background__dark;
	height: auto;

	&__content {
		height: 100%;
		padding: 0;

		&--upper {
			max-width: 600px;
			margin: auto;
			text-align: center;

			padding: 6em 1em 2em;

			@media screen and (min-width: 992px) {
				padding: 6em 1em;
			}

			svg {
				margin-bottom: 1em;
			}

			h2 {
				@include fluid-type($min_width, $max_width, 26px, 28px);
				text-transform: uppercase;

				p {
					font-size: inherit !important;
					margin: 0;
				}
			}

			p {
				p {
					font-size: inherit !important;
					margin: 0;
				}
			}
		}

		.button__cta {
			margin: auto;
		}

		.desktop-only {
			@media screen and (max-width: 992px) {
				display: none;
			}
		}

		.mobile-only {
			@media screen and (min-width: 992px) {
				display: none;
			}
		}
	}

	&__single-product {
		&--grid {
			margin: 30px 0 100px;

			@media screen and (max-width: 992px) {
				display: flex;
				flex-flow: column;
				width: 65%;
				margin: auto;
				border: none;
			}

			@media screen and (min-width: 992px) {
				display: grid;
				height: 135vh;
				border-top: 2px solid $color__grid-line;
				background-color: #1b1b1b;
				grid-template-columns: 10% 20% 30% 15% 25%;
				grid-template-rows: 27.5% 12.5% 17.5% 10% 5%;

				height: 100%;
				grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
				grid-template-rows: 100px 500px 0.25fr 0.25fr 0.5fr;

				margin: 30px 0 0;
			}

			h1 {
				@media screen and (max-width: 992px) {
					text-align: center;
					margin: 0;
					@include fluid-type($min_width, $max_width, 22px, 22px);
					transform: translateY(-10px);
				}
			}

			.single-product__content-wrapper {
				display: flex;
				flex-flow: column;

				@media screen and (max-width: 992px) {
					margin-top: 4em;
				}

				@media screen and (min-width: 992px) {
					grid-column-start: 3;
					grid-column-end: 3;
					grid-row-start: 2;
					grid-row-end: 6;
					padding: 0 8rem 4rem;
				}
			}

			&:nth-of-type(even) {
				background-color: #161616;

				@media screen and (min-width: 992px) {
					grid-template-columns: 0.35fr 2fr 1fr 0.35fr;
					margin: 0px 0 0;
				}

				.product-holder {
					grid-column-start: 3;
					grid-column-end: 3;
				}

				.single-product__content-wrapper {
					grid-column-start: 2;
					grid-column-end: 3;
				}

				.line--vertical-1 {
					grid-column-start: 4;
					grid-column-end: 4;
				}

				.line--horizontal-2 {
					grid-column-start: 3;
					grid-column-end: 5;

					&:after {
						left: -50px;
					}
				}
			}

			&:first-of-type {
				.line--vertical-1 {
					&:before {
						top: -50px !important;
					}
				}
			}

			&:last-of-type {
				.line--horizontal-3 {
					display: block;
					grid-row-start: 6;
					grid-row-end: 6;
					grid-column-end: 5;
				}

				.line--vertical-1 {
					&:after {
						@media screen and (min-width: 992px) {
							bottom: -20rem !important;
						}
					}
				}

				.line--vertical-3 {
					display: block !important;
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 4;
					grid-row-end: 6;

					&:after {
						@media screen and (min-width: 992px) {
							bottom: -20rem !important;
						}
					}
				}
			}

			img {
				object-fit: contain;
			}

			.line {
				width: 2px;
				z-index: 2;
				position: relative;
				background-color: $color__grid-line;

				&__vertical {
					width: 2px;
					height: 100%;
				}

				&__horizontal {
					width: 100%;
					height: 2px;
				}

				&--vertical-1 {
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 7;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -40%;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -50px;
					}
				}

				&--vertical-2 {
					grid-column-start: 3;
					grid-column-end: 4;
					grid-row-start: 1;
					grid-row-end: 2;

					@media screen and (min-width: 992px) {
						grid-column-start: 3;
						grid-column-end: 4;
						grid-row-start: 1;
						grid-row-end: 3;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -50px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -50px;
					}
				}

				//--vertical-3 is mobile-only

				&--vertical-3 {
					grid-column-start: 5;
					grid-column-end: 5;
					grid-row-start: 6;
					grid-row-end: 6;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -50px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -50px;
					}
				}

				&--horizontal-1 {
					display: none;

					@media screen and (min-width: 992px) {
						grid-column-start: 3;
						grid-column-end: 5;
						grid-row-start: 2;
						grid-row-end: 2;
					}
				}

				&--horizontal-2 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 2;
					grid-row-end: 2;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 3;
						grid-row-start: 3;
						grid-row-end: 3;

						&:after {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;
							background: $color__grid-line;
							left: 30px;
						}
					}
				}

				&--horizontal-3 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 4;
					grid-row-end: 4;
					display: none;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 3;
						grid-row-start: 5;
						grid-row-end: 5;
					}
				}

				&--horizontal-4 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 6;
					grid-row-end: 6;

					@media screen and (min-width: 992px) {
						grid-column-start: 4;
						grid-column-end: 4;
						grid-row-start: 4;
						grid-row-end: 4;

						display: none;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						left: -30px;
					}
				}
			}

			.product-holder {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 2;
				background-color: #161616;
				border-radius: 25px;
				padding: 0;

				// transform: translateX(-200%);

				@media screen and (min-width: 992px) {
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 3;
					opacity: 0;
				}

				p {
					right: -5em;
					// bottom: 5em;
					bottom: 0em;
					opacity: 0;
					transform: rotate(-90deg);
				}
			}

			.product-holder.animate-product {
				@media screen and (min-width: 992px) {
					animation: productReveal 1s forwards;
				}

				@keyframes productReveal {
					0% {
						// transform: translateX(-200%);
						opacity: 0;
					}

					90% {
						opacity: 1;
					}

					100% {
						opacity: 1;
					}
				}

				p {
					animation: productTitleSlideUpRed 1s forwards;
					animation-delay: 1s;

					@keyframes productTitleSlideUpRed {
						0% {
							bottom: 0em;
							opacity: 0;
						}

						90% {
							bottom: 5em;
							opacity: 1;
						}

						100% {
							bottom: 5em;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.swiper-container-products-mobile {
		overflow: visible;

		.swiper-button-prev,
		.swiper-button-next {
			top: 0;
			&:after {
				display: none;
			}
		}

		.line {
			position: absolute;
			display: block !important;
			background-color: $color__grid-line;
			z-index: 3;

			&--horizontal-1 {
				top: 1.5rem;
				width: 100vw;
				right: 0;
				height: 2px;
			}

			&--horizontal-2 {
				top: calc(1.5rem + 400px);
				width: 100vw;
				right: 0;
				height: 2px;
			}

			&--vertical-1 {
				left: 0;
			}

			&--vertical-2 {
				right: 0;
			}
		}

		.swiper-button-prev {
			transform: translateY(200%) rotate(90deg) scale(0.75);
		}

		.swiper-button-next {
			transform: translateY(200%) rotate(-90deg) scale(0.75);
		}
	}

	.product-holder {
		display: flex;
		padding: 0px;
		border-radius: 25px;
		z-index: 1;
		position: relative;
		will-change: transform, opacity;

		.swipers-wrapper {
			height: 100%;
			width: 100%;
			display: grid;
			overflow: hidden;
			border-radius: 35px;

			@media screen and (min-width: 992px) {
				border-radius: 25px;
			}
		}

		.swiper-container {
			width: 100%;
			height: 100%;
		}

		.swiper-container-v-desktop {
			height: 600px;
		}

		.swiper-container-v-mobile {
			height: 400px;
		}

		.swiper-slide {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.swiper-pagination-h {
			position: static;

			display: flex;
			justify-content: center;
			align-items: center;

			&__holder {
				position: absolute;

				@media screen and (max-width: 992px) {
					left: auto;
					right: -6em;
					bottom: 3.8em;
					transform: rotate(-90deg);
					// width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				@media screen and (min-width: 992px) {
					bottom: -2em;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
				}
			}

			.swiper-pagination {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.swiper-pagination-bullet {
				border: 2px solid white;
				width: 15px;
				height: 15px;
				border-radius: 7px;
				opacity: 1;
				margin-right: 14px;

				@media screen and (min-width: 992px) {
					width: 13px;
					height: 13px;
					border-radius: 5px;
				}
			}

			.swiper-pagination-bullet-active {
				width: 18px;
				height: 18px;
				border: 4px solid white;
				border-radius: 9px;
				background: #c4c4c4;

				@media screen and (min-width: 992px) {
					width: 14px;
					height: 14px;
					border: 2px solid white;
					border-radius: 5px;
				}
			}
		}

		.color-hex-value {
			display: none;
		}

		.swiper-pagination-v {
			position: static;

			display: flex;
			justify-content: center;
			align-items: center;

			&__holder {
				position: absolute;

				transform: rotate(-90deg);
				// width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				@media screen and (max-width: 992px) {
					left: -6em;
					bottom: 4em;
				}

				@media screen and (min-width: 992px) {
					left: -7em;
					bottom: 7em;
				}
			}

			&__description {
				margin-right: 2em;
				text-transform: uppercase;
			}

			.swiper-pagination {
				padding-top: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.swiper-pagination-bullet {
				border: 2px solid #1b1b1b;
				width: 16px;
				height: 16px;
				border-radius: 5px;
				opacity: 1;
				margin-right: 14px;

				@media screen and (max-width: 992px) {
					border-radius: 7px;
					border: 3px solid #1b1b1b;
				}

				@media screen and (min-width: 992px) {
					width: 15px;
					height: 15px;
				}
			}

			.swiper-pagination-bullet-active {
				width: 18px;
				height: 18px;

				background: #c4c4c4;

				@media screen and (max-width: 992px) {
					border: 4px solid white;
					border-radius: 9px;
				}

				@media screen and (min-width: 992px) {
					border: 3px solid white;
					width: 17px;
					height: 17px;
				}
			}
		}

		.image-holder {
			display: flex;
			height: 100%;
			width: 100%;
			border-radius: 25px;
			overflow: hidden;
		}

		p {
			position: absolute;

			@include fluid-type($min_width, $max_width, 14px, 18px);

			@media screen and (min-width: 1200px) {
				@include fluid-type($min_width, $max_width, 14px, 20px);
			}

			margin: 0;
		}
	}

	.cta-section {
		text-align: center;
		padding-top: 7em;
		height: auto;
		min-height: auto;
	}
}

.testimonials {
	color: $color__text-white;
	background: $color__background__semidark;
	height: var(--fullVH);

	min-height: calc(var(--fullVH) + 20 * var(--vh));

	@media screen and (max-width: 992px) {
		min-height: calc(var(--fullVH) + 40 * var(--vh));
	}

	&__content {
		height: 100%;

		@media screen and (max-width: 992px) {
			padding: 0 0;
		}

		&--upper {
			padding: 6em 2em 2em;
			max-width: 700px;
			margin: auto;
			text-align: center;
			min-height: 28rem;

			@media screen and (min-width: 992px) {
				padding: 6em 1em 2em;
			}

			.button__cta {
				margin: auto;
			}
		}

		&--grid {
			display: grid;
			position: relative;

			grid-template-columns: 10% 40% 40% 10%;
			grid-template-rows: 50% 50%;
			border-top: 2px solid $color__grid-line;
			border-bottom: 2px solid $color__grid-line;

			@media screen and (max-width: 992px) {
				min-height: 65vh;
			}

			@media screen and (min-width: 992px) {
				margin: 70px 0;
				height: 40%;
				grid-template-columns: 10% 40% 40% 10%;
				grid-template-rows: 50% 50%;
			}

			img {
				object-fit: contain;
			}

			.line {
				width: 2px;
				z-index: 1;
				position: relative;
				background-color: $color__grid-line;

				&__vertical {
					width: 2px;
					height: 100%;
				}

				&__horizontal {
					width: 100%;
					height: 2px;
				}

				&--vertical-1 {
					grid-column-start: 2;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 7;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				&--vertical-2 {
					grid-column-start: 4;
					grid-column-end: 4;
					grid-row-start: 1;
					grid-row-end: 4;

					@media screen and (min-width: 992px) {
						grid-column-start: 4;
						grid-column-end: 4;
						grid-row-start: 1;
						grid-row-end: 6;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				&--vertical-3 {
					grid-column-start: 3;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 6;

					@media screen and (min-width: 992px) {
						display: none;
					}

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						top: -30px;
					}

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: $color__grid-line;
						bottom: -30px;
					}
				}

				&--horizontal-1 {
					display: none;

					// grid-column-start: 2;
					// grid-column-end: 4;
					// grid-row-start: 2;
					// grid-row-end: 2;
				}

				&--horizontal-2 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 2;
					grid-row-end: 2;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 4;
						grid-row-start: 3;
						grid-row-end: 3;
					}
				}

				&--horizontal-3 {
					grid-column-start: 1;
					grid-column-end: 6;
					grid-row-start: 4;
					grid-row-end: 4;

					@media screen and (min-width: 992px) {
						grid-column-start: 1;
						grid-column-end: 4;
						grid-row-start: 5;
						grid-row-end: 5;
					}
				}
			}

			.swiper-container-testimonials,
			.swiper-wrapper {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 3;
			}

			.swiper-container-testimonials {
				overflow: hidden;
			}

			.swiper-slide {
				display: flex;
				flex-flow: column;

				@media screen and (min-width: 992px) {
					border-left: 2px solid #aaa;
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
				}
			}

			.single-testimony {
				background-position: center;
				background-size: 35%;
				width: 100%;
				height: 100%;

				@media screen and (min-width: 992px) {
					background-size: 25%;
					border-right: 2px solid #aaaaaa;
					border-bottom: 2px solid #aaaaaa;
				}

				&__image {
					background-position: center;
					background-size: 35%;
					width: 100%;
					height: 100%;

					@media screen and (min-width: 992px) {
						background-position: left;
						background-size: 45%;
					}
				}
			}

			.swiper-button-next,
			.swiper-button-prev {
				@media screen and (max-width: 992px) {
					display: none;
				}

				z-index: 999;
				width: inherit;
				height: inherit;

				&:before,
				&:after {
					display: none;
				}
			}

			.swiper-button-prev {
				transform: rotate(90deg);

				@media screen and (max-width: 1200px) {
					left: 0;
				}
			}

			.swiper-button-next {
				transform: rotate(-90deg);

				@media screen and (max-width: 1200px) {
					right: 0;
				}
			}
		}
	}
}

//Testimonials Page

.page-template-testimonials-page-template {
	background: $color__background__semidark;
}

.testimonials-page {
	height: auto;

	.swiper-container-testimonials-page {
		padding: 4em 0;
		overflow: hidden;
	}

	&__content {
		// height: 100%;

		// @media screen and (max-width: 992px) {
		// 	padding: 0 0;
		// }

		&--upper {
			padding: 6em 2em 2em;
			max-width: 700px;
			margin: auto;
			text-align: center;
			height: auto;

			@media screen and (min-width: 992px) {
				padding: 10em 1em 2em;
			}

			svg {
				margin-bottom: 1em;
			}

			h2 {
				@include fluid-type($min_width, $max_width, 26px, 28px);
				text-transform: uppercase;
			}

			.button__cta {
				margin: auto;
			}
		}

		&--grid {
			display: grid;
			position: relative;
			grid-template-columns: 10% 40% 40% 10%;
			grid-template-rows: 50% 50%;
			border-top: 2px solid $color__grid-line;
			border-bottom: 2px solid $color__grid-line;

			@media screen and (max-width: 992px) {
				min-height: 65vh;
			}

			@media screen and (min-width: 992px) {
				margin: 70px 0;
				height: auto;
				grid-template-columns: 10% 40% 40% 10%;
				grid-template-rows: 35% 65%;
			}

			.swiper-container-testimonials-page,
			.swiper-wrapper {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 3;
			}

			.swiper-slide {
				border-left: 2px solid transparent;
				grid-template-rows: 0.5fr 1fr;
			}

			.single-testimony {
				background-position: center;
				background-size: 35%;
				width: 100%;
				height: 100%;

				@media screen and (min-width: 992px) {
					background-size: 25%;
					border-right: 2px solid transparent;
					border-bottom: 2px solid transparent;
				}

				&__content-holder {
					grid-row-start: 2;
					grid-column-start: 1;
					grid-column-end: 3;

					padding: 0 1.5em;

					@media screen and (min-width: 992px) {
						padding: 0 10em;
					}

					p {
						@include fluid-type($min_width, $max_width, 18px, 22px);
					}
				}

				&__image-holder {
					max-width: 250px;
					padding: 0 0 0 1.5em;
					width: 100%;

					@media screen and (max-width: 992px) {
						height: 50px;
						margin-bottom: 1em;
					}

					@media screen and (min-width: 992px) {
						padding: 0 0 0 10em;
					}
				}

				&__image {
					background-position: center;
					background-size: contain;
					width: 100%;
					height: 100%;

					@media screen and (min-width: 992px) {
						background-position: left;
						background-size: contain;
					}
				}
			}
		}
	}
}

// Contact Page

.page-template-contact-page-template {
	footer {
		padding-top: 0;

		@media screen and (min-width: 992px) {
			padding: 0;
		}

		.subscribe-info {
			&__text,
			&__subscribe {
				display: none;
			}

			@media screen and (min-width: 992px) {
				display: none;
			}
		}

		.site-info {
			@media screen and (min-width: 992px) {
				display: none;
			}
		}
	}

	.contact {
		background: $color__background__dark;
		padding-top: 12rem;
		padding-bottom: 8rem;
		color: $color__text-white;

		&__content {
			display: flex;
			flex-flow: column;

			@media screen and (min-width: 992px) {
				flex-flow: row;
			}
		}

		h1 {
			margin: 0 0 1.67em;
		}

		&__form {
			@media screen and (min-width: 992px) {
				width: 50%;
			}

			span.wpcf7-form-control-wrap {
				display: flex;
				width: 100%;
			}

			select,
			input[type="text"],
			textarea,
			input[type="email"] {
				width: 100%;
				background: $color__background__dark;
				color: $color__text-white;
				border: 2px solid $color__grid-line;
				border-top: none;
				padding: 15px;
				position: relative;
			}

			.wpcf7-form-control-wrap.menu-759 {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 2px;
					height: 25px;
					top: -25px;
					left: 0;
					position: absolute;
					background: $color__grid-line;
				}

				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 25px;
					top: -25px;
					right: 0;
					position: absolute;
					background: $color__grid-line;
				}
			}

			.wpcf7-form-control-wrap.your-message {
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 2px;
					height: 25px;
					bottom: -25px;
					left: -2px;
					position: absolute;
					background: $color__grid-line;
				}

				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 25px;
					bottom: -25px;
					right: -2px;
					position: absolute;
					background: $color__grid-line;
				}

				textarea {
					border: 0;
					max-height: 190px;

					&::-webkit-resizer {
						display: none;
					}
				}
			}

			.grid-line {
				position: absolute;
				bottom: 0;
				width: 100%;
				// height: 1px;

				&:before {
					content: "";
					display: block;
					width: 40px;
					height: 2px;
					left: -40px;
					top: 0;
					position: absolute;
					background: $color__grid-line;
				}

				&:after {
					content: "";
					display: block;
					width: 40px;
					height: 2px;
					right: -40px;
					top: 0;
					position: absolute;
					background: $color__grid-line;
				}
			}

			form {
				max-width: 600px;

				p {
					position: relative;

					&:first-of-type {
						border-top: 2px solid $color__grid-line;
					}

					&:before {
						content: "";
						display: block;
						width: 40px;
						height: 2px;
						left: -40px;
						top: -2px;
						position: absolute;
						background: $color__grid-line;
					}

					&:after {
						content: "";
						display: block;
						width: 40px;
						height: 2px;
						right: -40px;
						top: -2px;
						position: absolute;
						background: $color__grid-line;
					}

					&:nth-last-of-type(2) {
						display: flex;
						border: 2px solid $color__grid-line;
						border-top: none;
					}

					&:last-of-type {
						display: flex;
						align-items: center;
						flex-flow: column;

						@media screen and (min-width: 992px) {
							align-items: flex-end;
							flex-flow: row;
						}

						&:before,
						&:after {
							display: none;
						}
					}
				}
			}

			.wpcf7-not-valid-tip {
				position: absolute;
				display: block;
				z-index: 1;
				right: 10px;
				top: 10px;
				height: 100%;
				/* width: 100%; */
				/* border: 1px solid red; */
				font-size: 13px;
			}

			.ajax-loader {
				background-image: url(../dist/img/form-loader-dark.gif) !important;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				width: 3em !important;
				height: 48px;

				margin-top: 1rem;

				@media screen and (min-width: 992px) {
					height: 56px !important;
					margin-top: 0;
				}

				background-color: transparent !important;

				&:before {
					display: none;
				}
			}

			// form.submitting {
			// 	.ajax-loader {
			// 		display: block;
			// 	}
			// }

			.wpcf7-response-output {
				border: none;
				text-align: center;
			}

			form.invalid {
				.wpcf7-response-output {
					color: #dc3232;

				}
			}

			form.sent {
				.wpcf7-response-output {
					color: #46b450;
				}
			}

			input[type="submit"] {
				margin-top: 4em;
			}

			p {
				margin: 0;
			}
		}

		&__info {
			display: flex;
			align-items: flex-end;
			flex-flow: column;
			padding-top: 8rem;
			padding-left: 4rem;
			justify-content: space-around;

			@media screen and (max-width: 992px) {
				display: none;
			}

			@media screen and (min-width: 992px) {
				width: 50%;
			}

			&--data {
				text-align: right;

				.site-info {
					@media screen and (min-width: 992px) {
						padding-top: 3.5em;
						display: flex;
						justify-content: space-between;
					}

					&__item {
						margin-bottom: 4em;

						@media screen and (min-width: 992px) {
							margin-right: 2em;
						}

						p {
							@media screen and (max-width: 992px) {
								margin-top: 0;
								margin-bottom: 0;
								line-height: 1.65em;
							}

							@media screen and (min-width: 992px) {
								line-height: 1.25em;
							}
						}
					}

					&__item-title {
						opacity: 0.5;

						@include fluid-type($min_width, $max_width, 12px, 16px);

						@media screen and (min-width: 992px) {
							margin-top: 0;
							margin-bottom: 1.5em;
						}
					}

					&__item-content {
						@media screen and (max-width: 992px) {
							@include fluid-type($min_width, $max_width, 16px, 18px);
						}

						@media screen and (min-width: 992px) {
							margin-top: 0;
							margin-bottom: 0;

							@include fluid-type($min_width, $max_width, 22px, 24px);
						}
					}
				}
			}

			&--social-media {
				display: flex;
				justify-content: space-around;
				width: 100%;
			}
		}
	}
}
